*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    display: flex;
    justify-content:center ;
    align-items:center ;
    min-height:100% ;
background-image:url(img/fondcont.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(255, 255, 255, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    backdrop-filter: blur(2px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
}

header::before{
 content: '';
 position: absolute;   
 top: 0;
 left: -100%;
 width: 100%;
 height: 100%;
 background: linear-gradient(200deg, transparent, rgba(255, 255, 255, .4), transparent);
 transition: .7s;
}

header:hover::before{
left: 100%;
}

.logo{
    font-size: 2.2em;
    color: #fff;
    user-select: none;
    margin-top: 10px;
    margin-left: 2px;
    cursor: default;
    
}

nav a {
    position: relative;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    margin-left: 40px;
    transition: .3s;
}




nav a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: .5s;
}

nav a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

nav .LOG{
    width: 130px;
height: 50px;
background: transparent;
border:2px solid #fff ;
outline: none;
border-radius: 56px;
cursor: pointer;
font-size: 1.1em;
color: #fff;
font-weight: 1000;
margin-left: 40px;
transition: .5s;
}
.head{
    position: fixed;
    left: 1200px;
    top:2px;
    height:150px;
width: 138px;
}

nav .LOG:hover{
    background: #fff;
    color: #162938;
}


.LOG .active-popup{
    transform: scale(1);
}

.LOG.active{
    height: 520px;
}



.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
 
img{
    height: .9px;
    width: .5px;
    margin-top: 90px;
    margin-right: 1220px;
}

.acceuil{
    text-align: left; 
    margin-left: 1px;
    margin-top: 350px;  
}

.acceuil h1{
  font-size: 20px;
  color:yellow;
  font-weight: 1000;
  margin-top: -250px;
  padding-right: 260px;
}

.acceuil span{
    color: red;
    font-weight: 30;
}

h2{
    font-size:40px ;
    font-weight:900 ;;
    text-align: center;
    text-decoration: none;
    margin-top: 120px;
    margin-bottom: -80;
    color: #ffff;
}

h3{
    font-size: 40px;
    font-weight: 800;
    color: red;
    margin-top: 100px;
    margin-left: 20px;
    
}

p{
    font-size: 25px;
    color: #fff;
    margin-left: 15px;
    padding: 10px 50px;
    background: rgba(255, 255, 255, .1);
    display: flex;
    justify-content: space-between;
    z-index: 99;
    backdrop-filter: blur(5px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);    
}

h4{
    font-size: 40px;
    font-weight: 800;
    color: red;
    margin-top: 70px;
    margin-left: 20px;
}

h5{
    font-size: 40px;
    font-weight: 800;
    color: red;
    margin-top: 70px;
    margin-left: 20px;
}

h6{
    font-size: 40px;
    font-weight: 800;
    color: red;
    margin-top: 70px;
    margin-left: 20px;
}

